<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe Book: Add/Edit recipe</title>
  <link th:rel="stylesheet" th:href="@{/style.css}" />
  <meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self';
  style-src 'self';
  img-src 'self';
  font-src 'self';
  ">
</head>
<body>
<h1>Recipe</h1>
<h2>Add/Edit recipe</h2>
<form th:object="${recipe}" th:action="${redirectionUrl}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <input type="hidden" th:field="*{id}">
  <table>
    <tr>
      <td>Title:</td>
      <td><input type="text" th:field="*{title}" th:value="${title}" size="50" required></td>    </tr>
    <tr>
      <td>Instructions:</td>
      <td><input type="text" th:field="*{instructions}" size="50" required></td>
    </tr>
    <tr>
      <td>Ingredients:</td>
      <td>
        <select id="recipeIngredients" name="recipeIngredients" required multiple>
          <option th:each="ingredient : ${T(com.example.recipefront.model.Ingredient).values()}" th:selected="${recipe.getIngredients() != null and recipe.getIngredients().contains(ingredient)}" th:value="${ingredient}" th:text="${ingredient}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Preparation Time:</td>
      <td><input type="text" th:field="*{preparationTime}" th:value="${preparationTime}" size="50" required></td>    </tr>
    <tr>
      <td>Level of Difficulty:</td>
      <td>
        <select id="recipeLevelOfDifficulty" name="recipeLevelOfDifficulty" required>
          <option value="">Select type</option>
          <option th:each="levelOfDifficulty : ${T(com.example.recipefront.model.Difficulty).values()}" th:selected="${levelOfDifficulty == recipe.difficulty}" th:value="${levelOfDifficulty}" th:text="${levelOfDifficulty}"></option>
        </select>
      </td>
    </tr>
  </table>
  </br>
    <input type="submit" value="Save">
</form>
<br>
<a th:href="@{/recipe}"><button>Cancel</button></a>
<form class="logout" th:action="@{/logout}" method="get">
  <button type="submit">logout</button>
</form>
</body>
</html>